{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": module,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
  },
  "rules": {
    "no-use-before-define": [2, "nofunc"],
    "space-before-function-paren": [2, "never"],
    "semi": [2, "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/newline-after-import": 0,
    "no-underscore-dangle": 0,
    "new-cap": 0,
    "prefer-template": 0,
    "no-path-concat": 0,
    "global-require": 0,
    "max-len": 0,
    "no-console": 0
  }
}
